#Header for just new files
snippet NewDocs "" bA
///////////////////////////////////////////////////////////////////////////////////////////
//File-Name: $1
//Author: $2
//Use: $3
///////////////////////////////////////////////////////////////////////////////////////////
$0
///////////////////////////////////////////////////////////////////////////////////////////
//End
///////////////////////////////////////////////////////////////////////////////////////////
endsnippet

#Give formatting details for a new section
snippet newform "" bA
///////////////////////////////////////////////////////////////////////////////////////////
//$1
///////////////////////////////////////////////////////////////////////////////////////////
$0
endsnippet

#Make a new main function
snippet fullm "Make new main function" bA
/*Entry Point to Program*/
fn main() {
	$1
}$0
endsnippet

#Print something:
snippet show "" 
println!("$1", $2);$0
endsnippet

#Define for loops
snippet for "For loop" bA
for i in $1..$2{$3}$0
endsnippet

#Define a structure
snippet stru "Define a Structure" bA
struct $1 {
$2
}$0
endsnippet

